/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    position: sticky;
    top: 0%;
}

:root {
    --main-color: #ef8b09;
    --white: whitesmoke;
}

/* Header */
.header {
    align-items: center;
    animation: move-to-right 2s;
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header a {
    color: var(--white);
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
}

.header a:hover {
    color: var(--main-color);
    transform: scale(1.05);
    transition: all 1s;
}

.logo {
    max-height: 150px;
    margin-right: 60px;
}

/* Main */
.heading-title {
    animation: move-up 2s;
    color: var(--white);
    font-size: 80px;
    font-weight: 500;
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.heading-text {
    color: var(--white);
    font-size: 30px;
    font-weight: 200;
    left: 10%;
    position: absolute;
    top: 65%;
    width: 60%;
    z-index: 1;
}

.heading-paragraph {
    color: var(--white);
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: 1;
    width: 60%;
}

/* Showcase */
.showcase img {
    filter: brightness(0.6);
    width: 100%;
    margin-top: 100px;
}


.elden_ratings {
    position: relative;
    margin-top: -300px;
    z-index: 1;
    max-width: 40%;
    left: 30%;
}


/*section Gallery*/
section {
    position: relative;
}

.showcase_image {
    width: 100%;
    filter: brightness(0.3);
}

.gallery_title {
    position: absolute;
    top: 15%;
    text-align: center;
    width: 100%;
    color: whitesmoke;
    font-size: 70px;
    z-index: 1;
    filter: brightness(0.9);
}

.elden_leaf {
    position: absolute;
    top: 3%;
    z-index: 1;
    width: 60%;
    left: 20%;
}

.top_images {
    /* width was important to add to get the images to actually have spacing between them*/
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 30%;
    width: 100%;
    cursor: pointer;
}

.bottom_images {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 170%;
    width: 100%;
    cursor: pointer;
}

.game_images:hover {
    transform: scale(1.3);
    transition: 1s;
}

/* Section Trailer */
span {
    text-shadow: red 1px 0 10px;
}

.trailer_title {
    position: absolute;
    top: 15%;
    text-align: center;
    width: 100%;
    color: whitesmoke;
    font-size: 70px;
    z-index: 1;
    filter: brightness(0.9);
}

.trailer_paragraph {
    color: whitesmoke;
    position: absolute;
    font-size: 30px;
    font-weight: 200;
    top: 90%;
    z-index: 1;
    width: 80%;
    left: 10%;
    text-align: center;
    font-family: poppin
}

.elden_youtube {
    position: absolute;
    top: 30%;
    z-index: 1;
    width: 50%;
    height: 50%;
    left: 25%;
}

/* Footer */
.footer_text {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: black;
    font-weight: 200;
}


/* Mobile Responsiveness */


/* Key Frames */
@keyframes move-to-right {
    0% {
        opacity: 0;
        transform: translateY(50);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}