/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    height: auto;
    zoom: 100%;
}

:root {
    --main-color: #ef8b09;
    --white: #f5f5f5;
}

/* Header */
.header {
    align-items: center;
    animation: move-to-right 2s;
    background-color: black;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header a {
    color: var(--white);
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
}

.header a:hover {
    color: var(--main-color);
    transform: scale(1.05);
    transition: all 1s;
}

.logo {
    max-height: 150px;
    margin-right: 60px;
}

/* Main */
.heading-title {
    animation: move-up 2s;
    font-size: 100px;
    font-weight: 600;
    top: 45%;
    text-align: center;
    width: 100%;
}

.heading-text {
    font-size: 30px;
    font-weight: 200;
    top: 65%;
}

.heading-paragraph {
    top: 73%;

}

.heading-text,
.heading-paragraph {
    left: 10%;
    width: 60%;
}


.heading-title,
.heading-text,
.heading-paragraph {
    position: absolute;
    color: var(--white);
    z-index: 1;

}
/* Showcase */
.showcase img {
    filter: brightness(0.6);
    position: relative;
}


.elden_ratings {
    position: relative;
    margin-top: -300px;
    z-index: 1;
    max-width: 40%;
    left: 30%;
}

/*section Gallery*/
section {
    position: relative;
}

.showcase_image {
    filter: brightness(0.3);
}

.gallery_title {
    color: var(--white);
    top: 15%;
    text-align: center;
    font-size: 70px;
    z-index: 1;
    filter: brightness(0.9);
}

.elden_leaf {
    top: 3%;
    z-index: 1;
    left: 20%;
    width: 62%;
}

.top_images {
    top: 30%;
}

.bottom_images {
    top: 170%;
}

.game_images:hover {
    transform: scale(1.3);
    transition: 1s;
}

.top_images,
.bottom_images {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

.showcase_image,
.gallery_title,
.top_images,
.bottom_images {
    /* width was important to add to get the images to actually have spacing between them*/
    width: 100%;
    flex-wrap: wrap;
}

.gallery_title,
.elden_leaf,
.top_images,
.bottom_images {
    position: absolute;
}

/* Section Trailer */
span {
    text-shadow: red 1px 0 10px;
}

.trailer_title {
    filter: brightness(0.9);
    font-size: 70px;
    top: 15%;
    width: 100%;
}

.trailer_paragraph {
    font-family: poppins;
    font-size: 30px;
    font-weight: 200;
    left: 10%;
    top: 90%;
    width: 80%;
}

.elden_youtube {
    height: 50%;
    left: 25%;
    top: 30%;
    width: 50%;
}

.trailer_title,
.trailer_paragraph {
    color: whitesmoke;
    text-align: center;
}

.trailer_title,
.trailer_paragraph,
.elden_youtube {
    position: absolute;
    z-index: 1;
}

/* Footer */
.footer_text {
    color: whitesmoke;
    background-color: black;
    display: flex;
    font-weight: 200;
    justify-content: center;
    margin-top: 50px;
}

/* media queries */
@media (min-width: 3400px){
.heading-title{
    margin-top: 20px;
}
.heading-text{
    font-size: 60px;
    margin-top: 30px;
}
.heading-paragraph{
    margin-top: 100px;
    font-size: 35px;
}
}

/* Key Frames */
        @keyframes move-to-right {
            0% {
                opacity: 0;
                transform: translateY(50);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes move-up {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }